*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.heading{
    color:goldenrod;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
}
.icon1{
    font-size: 5rem;
    color: gold;
}
.card-container{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.dec-btn{
    margin-left: 1rem;
}