.newTask_container{
    background-color: #61C0BF;   
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.input_box{
    padding: 15px;
    border-radius: 50px;
    width: 50%;
    border-style: none;
    margin-bottom: 15px;
    font-size: 1rem;
}
.btn{
    padding:10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: #BBDED6;
    font-weight: bold;
}
.btn:hover{
    background-color: #FFB6B9;
}

@media screen and (max-width: 850px) {
    .input_box{
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .input_box{
        width: 100%;
    }
}